<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p>{{ site.description }}</p>
      </div>

      <div class="footer-col footer-col-3">
        <p>
            Basé sur le cours donné à <a href="https://www.eracom.ch/" target="_blank">l’Eracom</a> (Lausanne),
            à <a href="http://www.eaa-la-chaux-de-fonds.ch/" target="_blank">l’Ecole d’Art Appliqués de La Chaux-de-Fonds</a>,
            ainsi que sur les modules de formation du <a href="http://collectifwp.ch/" target="_blank">Collectif WP (Genève)</a>.<br/>
            Version originale du cours disponible sur <a href="https://github.com/cours-web/coursweb.github.io" target="_blank">Github</a>.
        </p>
      </div>

    </div>

  </div>

</footer>
