{% comment %} 
    loaded in : _layouts/default.html
{% endcomment %}

<script src="{{ "/js/coursweb.js" | prepend: site.baseurl }}?ver=20180520"></script>
<script src="{{ "/js/jquery-3.1.1.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/magnific-popup/jquery.magnific-popup.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/coursweb.jquery.js" | prepend: site.baseurl }}?ver=20180520"></script>
<script>

(function (a) {
    a.fn.replaceTagName = function (f) {
        var g = [],
            h = this.length;
        while (h--) {
            var k = document.createElement(f),
                b = this[h],
                d = b.attributes;
            for (var c = d.length - 1; c >= 0; c--) {
                var j = d[c];
                k.setAttribute(j.name, j.value)
            }
            k.innerHTML = b.innerHTML;
            a(b).after(k).remove();
            g[h - 1] = k
        }
        return a(g)
    }
})(window.jQuery);

</script>